html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
html {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

body {
	color: #1d1d1f;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: "Signika",-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

nav {
	display: flex;
	margin-bottom: 3em;
}

nav a {
	margin-left: 2em;
	margin-right: 2em;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a {
	color: #1d1d1f;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #1d1d1f;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

th {
	width: 6.5em;
}
